<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

	
	<meta charset="UTF-8" />
	<title>使用条件</title>
</head>
<body>
<h1>どんなところでどれだけ乗りますか？</h1>

<form method="post" th:action="@{/cost}">　<!-- userランニングコスト情報取得　user_cost TABLEへ -->
	
	
	<p>駐車場代</p>
	<input type="number"step="0.01" name="parking" placeholder="駐車場代" >万円
	
 	 <p>1月あたりの推定走行距離</p>
 	 <input type="number"step="0.01" name="running" placeholder="走行距離" />万円
 
	<p>ローン</p>
	<input type="number" name="loan" placeholder="	ローン" />回払い<br>
	
 	
 	 <input type="submit" value = 送信>
 	 
</form>

</body>
</html>
